{% extends 'base.html' %}
{% load static %}
{% load post_functions %}
{% block title %}
    {{ user.profile.get_full_name }} |
{% endblock %}

{% block content %}
    <!-- Cover photo, Profile Photo, Name & Username-->
    <div class="profile-panel">
        <div class="container-fluid position-relative profile-cover">
            <!-- Profile Cover -->
            <div class="position-relative">
                <div class="profile-cover-bg" style="background-image: url('{{ user.profile.cover_pic.url }}')"></div>
                <!-- if username is same as logged in user, show edit button -->
                {% if user.username == request.user.username %}
                    <form method="POST" action="{% url 'userprofile' user.username %}" class="profile-cover-buttons"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Button to open file select input -->
                        <label for="cover-select" class="btn btn-outline-light" data-toggle="tooltip"
                               title="Change Cover Photo">
                            <i class="fas fa-camera"></i>
                        </label>
                        {{ cover_form.cover }}
                        <a id="edit-profile" class="btn btn-outline-light" data-toggle="tooltip"
                                title="Edit Profile" href="{% url 'edit_profile' request.user.username %}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </form>
                {% endif %}
            </div>
            <!-- Profile Picture -->
            <div class="profile-picture">
                <img src="{{ user.profile.profile_pic.url }}" alt="profile">
                {% if user.username == request.user.username %}
                    <div class="profile-picture-overlay" data-toggle="modal"
                         data-target="#profile-picture-modal">
                        <form method="post" action="{% url 'userprofile' user.username %}"
                              class="profile-picture-buttons" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="pp-select" class="btn btn-outline-light" data-toggle="tooltip"
                                   title="Change Profile Photo">
                                <i class="fas fa-camera"></i>
                            </label>
                            {{ photo_form.photo }}
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="d-xl-none" style="padding-top: 4rem;"></div>
        <!-- Profile Info -->
        <div class="profile-info">
            <div class="profile-info-name">
                <h1>{{ user.profile.get_full_name }}</h1>
                <p><i class="fa-light fa-at"></i>{{ user.username }}</p>
            </div>
            <!-- if username is same as logged in user, show edit button -->
            {% if user.username != request.user.username %}
                <div class="profile-info-buttons">
                    {% is_friend request.user.profile user as isfrnd %}
                    {% if not isfrnd %}
                        <button class="btn btn-outline-dark" data-toggle="tooltip" title="Add Friend">
                            <i class="fas fa-user-plus"></i>
                        </button>
                    {% endif %}
                    <button name="new_message" onclick="new_message('{{ user.username }}')" class="btn btn-outline-dark" data-toggle="tooltip" title="Send Message">
                        <i class="fas fa-envelope"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Timeline & About Tab buttons -->
    <nav class="mt-2">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-timeline-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-timeline" type="button" role="tab" aria-controls="nav-timeline"
                    aria-selected="true">Timeline
            </button>
            <button class="nav-link" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                    type="button" role="tab" aria-controls="nav-about" aria-selected="false">About
            </button>
        </div>
    </nav>
    <!-- Timeline & About Tab contents -->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-timeline" role="tabpanel"
             aria-labelledby="nav-timeline-tab">
            <!-- New Post -->
            {% if user.username == request.user.username %}
                <div class="panel-bg-top">
                    <form class="panel-body p-3" method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ post_form.content }}
                        <div class="mt-3 clearfix">
                            <!-- Post button -->
                            <button class="btn btn-sm btn-primary fa-pull-right" type="submit" name="new_post">Post
                            </button>
                            <!-- Visibility selection -->
                            {{ post_form.visibility }}
                            <!-- Post video -->
                            {{ post_form.attachment }}
                            <label for="attachment-select" class="my-btn" href="#" data-toggle="tooltip"
                                   title="Upload video"><i
                                    class="fa-solid fa-video"></i></label>
                            <!-- Post image -->
                            {{ post_form.attachment }}
                            <label for="attachment-select" class="my-btn" href="#" data-toggle="tooltip"
                                   title="Upload image"><i
                                    class="fa-solid fa-camera"></i></label>
                            <!-- Post file -->
                            {{ post_form.attachment }}
                            <label for="attachment-select" class="my-btn" href="#" data-toggle="tooltip"
                                   title="Upload document"><i
                                    class="fa-solid fa-file"></i></label>
                        </div>
                    </form>
                </div>
            {% endif %}
            <!-- News Feed -->
            {% for post in posts %}
                {% is_friend request.user.profile user as isfrnd %}
                {% if post.visibility == 'public' or isfrnd or request.user.profile == user %}
                    <!--- Post -->
                    <div class="panel-bg user-feed-panel">
                        <div class="row">
                            <div class="col-1">
                                <a href="#" data-toggle="tooltip" title="{{ user.profile.get_full_name }}">
                                    <img src="{{ user.profile.profile_pic.url }}"
                                         class="img-fluid rounded-circle img-thumbnail post-profile-photo"
                                         alt="Profile Photo">
                                </a>
                            </div>
                            <div class="col-11">
                                <div class="pb-3">
                                    <a href="#" class="text-dark username">{{ user.profile.get_full_name }}</a>
                                    <div class="dropdown d-inline pull-right">
                                        <a class="text-muted" href="#" role="button" id="dropdownMenuLink1"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-h" data-toggle="tooltip"
                                               title="More"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                    <small>
                                        <a href="#" class="text-muted" style="text-decoration: none;">
                                            <i class="fa-light fa-at"></i>{{ user.username }}
                                        </a>
                                    </small>
                                    <br>
                                    <small class="text-muted post-time">
                                        <a href="{% url 'post_detail' post.pk %}" class="text-dark"
                                           style="text-decoration: none;">
                                            <i class="fa-solid fa-clock"></i> {{ post.created_at|date:"d M Y, H:i" }}
                                        </a>
                                    </small>
                                </div>
                                <!-- Post image field -->
                                {% if post.attachment %}
                                    <div class="post-image-field">
                                        <img src="{{ post.attachment.url }}" class="img-fluid" alt="Post Image">
                                    </div>
                                {% endif %}
                                <p class="pe-4">
                                    {{ post.content }}
                                </p>
                                <!--- Post actions -->
                                <div class="row post-actions">
                                    <div class="col-4">
                                        {% is_liked post request.user as lkd %}
                                        <a id="post_like_a{{ post.id }}" href="javascript:post_like_dislike({{ post.id }},'like')" class="{% if lkd %}text-primary{% else %}text-muted{% endif %}"
                                           data-toggle="tooltip" title="Like">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <span id="like_count{{ post.id }}">
                                                {{ post.get_like_count }}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        {% is_disliked post request.user as dlkd %}
                                        <a id="post_dislike_a{{ post.id }}" href="javascript:post_like_dislike({{ post.id }},'dislike')" class="{% if dlkd %}text-primary{% else %}text-muted{% endif %}"
                                           data-toggle="tooltip" title="Dislike">
                                            <i class="fa-solid fa-thumbs-down"></i>
                                            <span id="dislike_count{{ post.id }}">
                                                {{ post.get_dislike_count }}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="{% url 'post_detail' post.pk %}#comment" class="text-muted"
                                           data-toggle="tooltip" title="Comment">
                                            <i class="fa-solid fa-comment"></i>
                                            <span>
                                                {{ post.get_comment_count }}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if posts.count == 0 or user.profile.get_public_post_count == 0 %}
                {% include 'empty/empty_timeline.html' %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <div class="panel-bg-top about-panel">
                <h4 class="panel-title">About</h4>
                <hr>
                <!-- Basic info -->
                <div class="about-info-panel row">
                    <div class="col-3">
                        Basic info
                    </div>
                    <div class="col-9">
                        <div class="row text-muted mb-2">
                            <div class="col-3">Sex</div>
                            <div class="col-9">{{ user.profile.gender }}</div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Date of birth</div>
                            <div class="col-9">{{ user.profile.birth_date }}</div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Family</div>
                            <div class="col-9">{{ user.profile.family }}</div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Current City</div>
                            <div class="col-9">
                                {{ user.profile.current_city }}
                            </div>
                        </div>
                        <div class="row text-muted">
                            <div class="col-3">Hometown</div>
                            <div class="col-9">
                                {{ user.profile.hometown }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Contact info -->
                <div class="about-info-panel row">
                    <div class="col-3">
                        Contact info
                    </div>
                    <div class="col-9">
                        <div class="row text-muted mb-2">
                            <div class="col-3">Email</div>
                            <div class="col-9">
                                <a href="#">
                                    <i class="fa-regular fa-envelope"></i>
                                    <span>{{ user.email }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Phone</div>
                            <div class="col-9">
                                <i class="fa-regular fa-phone text-primary"></i>
                                <span>{{ user.profile.phone_number }}</span>
                            </div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Website</div>
                            <div class="col-9">
                                <a href="#">
                                    <i class="fa-regular fa-globe"></i>
                                    <span>{{ user.profile.website }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Address</div>
                            <div class="col-9">
                                <i class="fa-regular fa-map-marker text-primary"></i>
                                <span>{{ user.profile.address }}</span>
                            </div>
                        </div>
                        <div class="row text-muted mb-2">
                            <div class="col-3">Country</div>
                            <div class="col-9">
                                <i class="fa-regular fa-flag text-primary"></i>
                                <span>{{ user.profile.country }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Bio -->
                <div class="about-info-panel row">
                    <div class="col-3">
                        Bio
                    </div>
                    <div class="col-8">
                        <p>
                            {{ user.profile.bio }}
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Education & Work -->
                <h4 class="mb-3">Education & Work</h4>
                <hr>
                <!-- Education -->
                <div class="about-info-panel row">
                    <div class="col-3">
                        Education
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">University</span>
                                    </div>
                                    <div class="col-9">
                                        <span>{{ user.profile.university }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Major</span>
                                    </div>
                                    <div class="col-9">
                                        <span>{{ user.profile.major }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">GPA</span>
                                    </div>
                                    <div class="col-9">
                                        <span>{{ user.profile.gpa }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Work -->
                <div class="about-info-panel row">
                    <div class="col-3">
                        Work
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Company</span>
                                    </div>
                                    <div class="col-9">
                                        <span>{{ user.profile.company }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Position</span>
                                    </div>
                                    <div class="col-9">
                                        <span>{{ user.profile.position }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Duration</span>
                                    </div>
                                    <div class="col-9">
                                        <span>{{ user.profile.duration_start }} - {% if user.profile.duration_present %}
                                            Present{% else %}{{ user.profile.duration_end }}{% endif %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    // Send ajax post request for post-like
    function post_like_dislike(post_id, action) {
        $.ajax({
            type: 'POST',
            url: '{% url 'index' %}',
            data: {
                'post_like_dislike_id': post_id,
                'action': action,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
        })
            .done(function (data) {
                // data contains likes, dislikes, like_class, dislike_class
                // Update the like/dislike count
                $('#like_count' + post_id).text(data.likes);
                $('#dislike_count' + post_id).text(data.dislikes);
                // Update the like/dislike button
                $('#post_like_a' + post_id).removeClass().addClass(data.like_class);
                $('#post_dislike_a' + post_id).removeClass().addClass(data.dislike_class);
            });
    }
    function new_message(username) {
        $.ajax({
            type: 'GET',
            url: '{% url 'new_message' %}',
            data: {
                'new_message_username': username,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
        })
            .done(function (data) {
                // redirect to the new message page
                window.location.href = data.redirect_url;
            });
    }
{% endblock %}