<div class="col-12">
    <div class="empty-newsfeed">
        <div class="empty-newsfeed-icon">
            <i class="fa-regular fa-newspaper"></i>
        </div>
        <div class="empty-newsfeed-text">
            <h4>No posts yet</h4>
            <p>
                Your newsfeed is empty. Let's change that!
                <br>
                Share what's on your mind to fill it up!
                <br>
                Or make some connections to fill your newsfeed.
            </p>
        </div>
    </div>
</div>